.CounterControl {
    width:60px;
    background: #3498db;
    text-align:center;
    font-family: Arial;
    color:#3c3c3c;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 25px 12px 25px;
    margin: 16px;
    border: solid #4d4d4d 0.5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-box-shadow: 5px 4px 13px #666666;
    -moz-box-shadow: 5px 4px 13px #666666;
    box-shadow: 8px 5px 12px #666;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    background-color:#dedede;
    border-color:#d6a951;
    border-width:2px;
}

.CounterControl:hover,
.CounterControl:active {
    background: #f2feff;
}